# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.pem
*.key

# Terraform plan
*.plan

# Ansible
*.retry
vault.yml
secrets.yml
ansible/inventory/hosts.generated.ini

# Ignore generated kubeconfigs
kubernetes/kubeconfig/*
!kubernetes/kubeconfig/*.tpl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/

# Logs
*.log

target
.git
.gitignore
Dockerfile.test
docker-compose.yaml

