apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: ClusterIP
  selector:
    app: {{ include "app.name" . }}
    component: backend
  ports:
    - port: 80
      targetPort: {{ .Values.backend.containerPort }}

