---
- name: Install required packages (AL2023 safe)
  become: true
  dnf:
    name:
      - curl-minimal
      - unzip
      - git
    state: present

# ---------------------------
# AWS CLI v2
# ---------------------------
- name: Download AWS CLI v2
  get_url:
    url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: /tmp/awscliv2.zip
    mode: '0644'

- name: Unzip AWS CLI
  unarchive:
    src: /tmp/awscliv2.zip
    dest: /tmp
    remote_src: yes

- name: Install AWS CLI v2
  become: true
  command: /tmp/aws/install
  args:
    creates: /usr/local/bin/aws

# ---------------------------
# kubectl
# ---------------------------
- name: Download kubectl (latest stable)
  become: true
  shell: |
    curl -sSL https://dl.k8s.io/release/stable.txt -o /tmp/kubectl_version
    curl -sSL https://dl.k8s.io/release/$(cat /tmp/kubectl_version)/bin/linux/amd64/kubectl -o /usr/local/bin/kubectl
    chmod +x /usr/local/bin/kubectl
  args:
    creates: /usr/local/bin/kubectl

# ---------------------------
# Helm
# ---------------------------
- name: Download Helm archive
  become: true
  get_url:
    url: https://get.helm.sh/helm-v3.14.4-linux-amd64.tar.gz
    dest: /tmp/helm.tar.gz
    mode: '0644'

- name: Extract Helm
  become: true
  unarchive:
    src: /tmp/helm.tar.gz
    dest: /tmp
    remote_src: true

- name: Install Helm binary
  become: true
  copy:
    src: /tmp/linux-amd64/helm
    dest: /usr/local/bin/helm
    mode: '0755'
    remote_src: true

# ---------------------------
# EKS kubeconfig
# ---------------------------
- name: Create kube config directory
  file:
    path: /home/ec2-user/.kube
    state: directory
    owner: ec2-user
    group: ec2-user
    mode: '0755'

- name: Update kubeconfig for EKS
  command: >
    aws eks update-kubeconfig
    --region us-east-1
    --name eks-devops-cluster
  environment:
    AWS_DEFAULT_REGION: us-east-1
  become_user: ec2-user

# ---------------------------
# Verify access
# ---------------------------
- name: Verify cluster access
  command: kubectl get nodes
  become_user: ec2-user
  register: kubectl_nodes
  changed_when: false
