---
- name: Update all packages
  become: true
  dnf:
    name: "*"
    state: latest
    update_cache: yes

- name: Install basic packages (Amazon Linux 2023 safe)
  become: true
  dnf:
    name:
      - git
      - unzip
      - tar
      - python3
      - python3-pip
    state: present

