---
- name: Update all packages
  become: true
  dnf:
    name: "*"
    state: latest
    update_cache: yes

- name: Install basic packages
  become: true
  dnf:
    name:
      - curl
      - wget
      - unzip
      - git
      - tar
      - yum-utils
      - jq
      - vim
    state: present

- name: Set timezone to UTC
  become: true
  timezone:
    name: UTC
