apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: jenkins-role
  namespace: ci
rules:
- apiGroups: [""]
  resources:
    - pods
    - pods/exec
    - pods/log
    - pods/attach
  verbs:
    - get
    - list
    - watch
    - create
    - delete
- apiGroups: [""]
  resources:
    - secrets
    - configmaps
  verbs:
    - get
    - list
