apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: ci
spec:
  type: ClusterIP
  selector:
    app: jenkins
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080

    - name: jnlp
      port: 50000
      protocol: TCP
      targetPort: 50000
