global:
  env: dev

backend:
  replicas: 1

  image:
    repository: a8bcd90ff89904a28acd94cd112c6650-8a32720f9a3344d2.elb.us-east-1.amazonaws.com:8082/app-backend
    tag: latest
    pullPolicy: IfNotPresent

  containerPort: 8080

  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"


frontend:
  replicas: 1

  image:
    repository: nginx
    tag: latest
    pullPolicy: IfNotPresent

  containerPort: 80

  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "200m"
      memory: "256Mi"


service:
  type: ClusterIP


ingress:
  enabled: true
  className: nginx
  host: app.local
  paths:
    - path: /
      pathType: Prefix
