backend:
  replicaCount: 1
  containerPort: 8080

  image:
    repository: a8bcd90ff89904a28acd94cd112c6650-8a32720f9a3344d2.elb.us-east-1.amazonaws.com:8082/app-backend
    tag: latest
    pullPolicy: Always

