namespace: prod

backend:
  replicas: 2
  image:
    repository: 985539792593.dkr.ecr.us-east-1.amazonaws.com/app-backend
    tag: "{{ build_tag }}"
    pullPolicy: Always

frontend:
  replicas: 2
  image:
    repository: nginx
    tag: latest
    pullPolicy: Always

ingress:
  enabled: true
  host: ""
