---
- name: Deploy application with Helm
  hosts: controllers
  become: true

  vars_files:
    - ../vars/main.yml
    - ../vars/secrets.yml

  vars:
    env: "{{ env | default('dev') }}"

  roles:
    - eks_access

  tasks:

    - name: Apply namespaces
      shell: kubectl apply -f ../kubernetes/00-namespaces.yaml

    - name: Install External Secrets Operator (ESO)
      shell: |
        set -e
        helm repo add external-secrets https://charts.external-secrets.io
        helm repo update
        helm upgrade --install external-secrets external-secrets/external-secrets \
          -n external-secrets --create-namespace --wait

    - name: Apply External Secrets manifests
      shell: kubectl apply -f ../kubernetes/external-secrets/

    - name: Run Helm role
      include_role:
        name: helm
