postgres:
  replicas: 1
  image:
    repository: postgres
    tag: "17"

postgresConfig:
  db: myappdb
  user: appuser
  password: apppassword

persistence:
  enabled: true
  size: 5Gi
  storageClass: gp2
