apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
  creationTimestamp: "2026-01-21T06:35:27Z"
  generation: 2
  labels:
    app: nexus
  name: nexus-deployment
  namespace: eks-build
  resourceVersion: "1473878"
  uid: e044c864-7b70-4ca3-bb4a-7b2eb9a9c374
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: nexus
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nexus
    spec:
      automountServiceAccountToken: true
      containers:
      - env:
        - name: NEXUS_SECURITY_RANDOMPASSWORD
          value: "false"
        - name: INSTALL4J_ADD_VM_PARAMS
          value: -Xms1g -Xmx2g -XX:MaxDirectMemorySize=3g -Djava.util.prefs.userRoot=/nexus-data/javaprefs
        image: sonatype/nexus3:latest
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /service/rest/v1/status
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 180
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: nexus
        ports:
        - containerPort: 8081
          name: nexus-ui
          protocol: TCP
        - containerPort: 8082
          name: docker-registry
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /service/rest/v1/status
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 60
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: 250m
            memory: 1Gi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /nexus-data
          mountPropagation: None
          name: nexus-data
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      nodeSelector:
        kubernetes.io/arch: amd64
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 200
        runAsGroup: 200
        runAsNonRoot: false
        runAsUser: 200
      shareProcessNamespace: false
      terminationGracePeriodSeconds: 30
      volumes:
      - name: nexus-data
        persistentVolumeClaim:
          claimName: nexus-pvc
